<div class="table-responsive rounded border">
  <table class="table table-hover align-middle mb-0 table-tracks table-tracks-detailed">
    <thead class="table-light">
    <tr>
      <th scope="col" class="col-name"><%= sort_link("name", "Name") %></th>
      <% if column_visible?("duration") %>
        <th scope="col" class="text-end col-duration"><%= sort_link("duration_ms", "Dauer") %></th>
      <% end %>
      <% if column_visible?("added_at") %>
        <th scope="col" class="col-added_at"><%= sort_link("added_at", "hinzugefügt") %></th>
      <% end %>
      <% if column_visible?("genre") %>
        <th scope="col" class="col-genre"><%= sort_link("genre", "Genre") %></th>
      <% end %>
      <% if column_visible?("popularity") %>
        <th scope="col" class="col-popularity"><%= sort_link("popularity", "Bekanntheit") %></th>
      <% end %>
      <% if column_visible?("energy") %>
        <th scope="col" class="col-energy"><%= sort_link("energy", "Energie") %></th>
      <% end %>
      <% if column_visible?("tempo") %>
        <th scope="col" class="text-end col-tempo"><%= sort_link("tempo", "Tempo") %></th>
      <% end %>
      <% if column_visible?("artist") %>
        <th scope="col" class="col-artist"><%= sort_link("artist", "Künstler") %></th>
      <% end %>
      <% if column_visible?("album") %>
        <th scope="col" class="col-album">Album Name</th>
      <% end %>
      <% if column_visible?("release_date") %>
        <th scope="col" class="col-release_date"><%= sort_link("release_date", "Veröffentlichung") %></th>
      <% end %>
      <% if column_visible?("playlists") %>
        <th scope="col" class="col-playlists">Playlists</th>
      <% end %>
      <% if column_visible?("tags") %>
        <th scope="col" class="col-tags">Tags</th>
      <% end %>
      <% if column_visible?("file") %>
        <th scope="col" class="col-file">Datei</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%# Voll qualifizierter Partial-Pfad ("tracks/track"), nicht nur "track": ein unqualifizierter
        Name wird von Rails ueber die Prefixes des AUFRUFENDEN CONTROLLERS aufgeloest (nicht ueber
        das Verzeichnis dieser Partial selbst) - bei tracks#index passt das zufaellig, weil
        TracksController#index selbst die Prefixes ["tracks", "application"] mitbringt, bricht aber
        mit ActionView::MissingTemplate, sobald artists#show dieselbe _tracks.erb-Partial rendert
        (Prefixes dann ["artists", "application"], "tracks/_track.erb" fehlt in der Suche). %>
    <%= render partial: "tracks/track", collection: tracks, as: :track, locals: { recent_tags: @recent_tag_suggestions } %>
    </tbody>
  </table>
</div>
