<%# Repräsentiert einen Eintrag in der Tabelle %>
<tr>
  <th scope="row"><%= link_to(track.name, track_path(track.id), data: { turbo_frame: "_top" }) %></th>
  <% if column_visible?("duration") %>
    <td class="text-end text-muted font-monospace"><%= track.dauer %></td>
  <% end %>
  <% if column_visible?("added_at") %>
    <td class="text-muted">
      <%= l(track.added_at.to_date) if track.added_at %>
    </td>
  <% end %>
  <% if column_visible?("genre") %>
    <td><%= genre_badge(track.genre) %></td>
  <% end %>
  <% if column_visible?("popularity") %>
    <td><%= track_meter(track.popularity, variant: "info") %></td>
  <% end %>
  <% if column_visible?("energy") %>
    <td><%= track_meter(engergie_to_view(track.energy), variant: "warning") %></td>
  <% end %>
  <% if column_visible?("tempo") %>
    <td class="text-end text-muted">
      <% if track.tempo %>
        <%= tempo_to_view(track.tempo) %> <span class="small">BPM</span>
      <% else %>
        –
      <% end %>
    </td>
  <% end %>
  <% if column_visible?("artist") %>
    <td>
      <% track.artists.each do |a| %>
        <%= link_to a.name, artist_path(a.id), class: "d-inline-block me-2", data: { turbo_frame: "_top" } %>
      <% end %>
    </td>
  <% end %>
  <% if column_visible?("album") %>
    <td><%= track.album.name %></td>
  <% end %>
  <% if column_visible?("release_date") %>
    <td class="text-muted"><%= l(track.album.release_date) if track.album.release_date %></td>
  <% end %>
  <% if column_visible?("playlists") %>
    <td>
      <div class="d-flex flex-wrap gap-1">
        <% track.playlist_tracks.each do |pt| %>
          <%= link_to playlist_badge(pt.playlist), playlist_path(pt.playlist.id), data: { turbo_frame: "_top" } %>
        <% end %>
      </div>
    </td>
  <% end %>
  <% if column_visible?("tags") %>
    <td>
      <%= render partial: "tracks/tag_cell", locals: { track: track } %>
    </td>
  <% end %>
  <% if column_visible?("file") %>
    <td>
      <%= render partial: 'components/audio_file', locals: {track: track} %>
    </td>
  <% end %>
</tr>
