
<h1>Meine zuletzt gespielten Stücke</h1>

<ul>
<% @tracks.each do |p| %>
  <li>
    <%= l(Time.zone.parse(p.played_at)) %> |
    <%# p.context_type %>
    <%= p.popularity %>  |
    <%= p.name %>, |
    <%= p.artists.map(&:name).join(", ") %>|
    <%= p.album.name %>  |
    <%# p.album.genres.join(", ") Teuer!!%>
  </li>
<% end %>
</ul>