<h1><%= @track.name %></h1>
<div> aus: <%= @track.album.name %> | <%= @track.album.release_date ? l(@track.album.release_date) : nil %></div>
<div><a href="<%= @track.url %>">Track in Spotify hören</a></div>
<div>
  <audio id="<%= @track.id %>" controls>
    <source src="<%= stream_track_path(@track.id) %>"></source>
  </audio>
</div>

<iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/<%= @track.spotify_id %>?utm_source=generator&theme=0"
        width="40%" height="152" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy">

</iframe>

<div>
    Genre: <%= @track.genre%>
</div>

<br>
  <table class="table caption-top">
    <caption>Künstler</caption>
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Bekanntheit</th>
      <th scope="col">Anzahl Tracks</th>
    </tr>
    </thead>
    <tbody>
    <%= render @track.album.artists %>
    </tbody>
  </table>


<% if @track.af.present? %>
  <ul>
    <li> Acousticness: <%= @track.af.acousticness %>   </li>
    <li> Danceability: <%= @track.af.danceability %>   </li>
    <li> Energy: <%= @track.af.energy %>   </li>
    <li> Mode: <%= @track.af.mode == 1 ? "Major" : "Minor" %>   </li>
    <li> time_signature: <%= @track.af.time_signature %>   </li>
    <li> Tempo: BPM <%= @track.af.tempo %>  </li>
    <li> instrumentalness: <%= @track.af.instrumentalness %>  </li>
    <li> liveness: <%= @track.af.liveness %>  </li>
    <li> loudness: <%= @track.af.loudness %>  </li>
    <li> valence: <%= @track.af.valence %>  </li>
  </ul>
<% end %>


<table class="table caption-top">
  <caption>Playlists die diesen Track enthalten</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Sichtbarkeit</th>
    <th scope="col">Anzahl Tracks</th>
    <th scope="col">Download</th>
  </tr>
  </thead>
  <tbody>
  <%= render @track.playlists %> <%# magischerweise weiss Rails wie rendern. Nämlich mit playlists/_playlist.erb %>
  </tbody>
</table>