<h1><%= @track.name %></h1>
<p>
  <div> aus: <%= @track.album.name %> | <%= @track.album.release_date ? l(@track.album.release_date) : nil%></div>
  <div> Künstler: <%= @track.album.artists.map(&:name).join(", ") %></div>
  <div> <a href="<%= @track.url%>"> Spotify</a> </div>

</p>
<% if @track.af.present? %>
  <ul>
    <li> Acousticness: <%= @track.af.acousticness  %>   </li>
    <li> Analysis URL: <%= @track.af.analysis_url  %>   </li>
    <li> Danceability: <%= @track.af.danceability  %>   </li>
    <li> Energy: <%= @track.af.energy  %>   </li>
    <li> Mode: <%= @track.af.mode == 1 ? "Major" : "Minor"  %>   </li>
    <li> time_signature: <%= @track.af.time_signature %>   </li>
    <li> Tempo: BPM <%= @track.af.tempo %>  </li>
  </ul>
<% end %>

<ul>
  <% @track.playlist_tracks.each do |pt| %>
    <li> <%= link_to pt.playlist.name, playlist_path(pt.playlist.id) %> | <%= l(pt.added_at) %>  </li>
  <% end %>
</ul>