<%# Repräsentiert einen Eintrag in der Tabelle %>
<% playlists_by_artist_id = local_assigns.fetch(:playlists_by_artist_id, {}) %>
<tr>
  <th scope="row"><%= link_to artist.name, artist_path(artist.id) %> </th>
  <td><%= artist.popularity %> </td>
  <td><%= artist.tracks.length %> </td>
  <td>
    <% playlists_by_artist_id.fetch(artist.id, []).each do |playlist| %>
      <%= link_to playlist_path(playlist.id) do %>
        <span class="badge <%= playlist_color_class(playlist) %>"><%= playlist_short_name(playlist) %></span>
      <% end %>
  <% end %>
  </td>
</tr>
