<%# Repräsentiert eine Playlist Track Eintrag in der Tabelle der Playlist %>
<tr>
  <th scope="row"><%= link_to playlist_track.track.name, track_path(playlist_track.track.id) %> </th>
  <td> <%= playlist_track.track.dauer %> </td>
  <td> <%= l(playlist_track.added_at.to_date) %> </td>
  <td> <%= (playlist_track.track.genre) %> </td>
  <td><%= playlist_track.track.popularity %></td>
  <td><%= engergie_to_view playlist_track.track.energy %></td>
  <td><%= tempo_to_view playlist_track.track.tempo %></td>
  <td>
    <% playlist_track.track.artists.each do |a| %>
      <%= link_to a.name, artist_path(a.id) %>
    <% end %>
  </td>
  <td> <%= playlist_track.track.album.name %></td>
  <td> <%= l playlist_track.track.album.release_date if playlist_track.track.album.release_date %></td>

  <td>
    <% playlist_track.track.playlist_tracks.each do |pt| %>
      <% unless pt.id == playlist_track.id %>
        <%= link_to playlist_path(pt.playlist.id) do %>
          <span class="badge <%= pt.playlist.color_class %>"><%= pt.playlist.short_name %></span>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= render partial: 'components/audio_file', locals: {track: playlist_track.track} %>
    <% #= render partial: 'components/spotify_player', locals: {track: playlist_track.track} %>
  </td>
  <!--
  <td>
    <audio id="<%= playlist_track.track.id %>" controls>
      <source src="<%= stream_track_path(playlist_track.track.id) %>"></source>
    </audio>
    <%#= link_to "spielen", play_track_path(track), remote: true %>
  </td>
  -->
</tr>
