<tr>

  <td>
    <%= link_to playlist_path(playlist.id) do %>
      <span class="badge <%= playlist_color_class(playlist) %>"><%= playlist_short_name(playlist) %></span>
    <% end %>
  </td>
  <td><%= playlist.public ? "öffentlich" : "privat" %></td>
  <td><%= playlist.tracks_count %></td>
  <td><%= playlist.libraries.map(&:name).join(", ") %></td>
  <td><%= playlist.name %></td>
  <td><%= link_to("edit", edit_playlist_path(playlist))  %></td>
</tr>
