<tr>

  <td>
    <%= link_to playlist_badge(playlist), playlist_path(playlist.id) %>
  </td>
  <td><%= playlist.public ? "öffentlich" : "privat" %></td>
  <td><%= playlist.tracks_count %> (<%= downloaded_tracks_count(playlist) %>)</td>
  <td><%= playlist.libraries.map(&:name).join(", ") %></td>
  <td><%= playlist.name %></td>
  <td><%= link_to("edit", edit_playlist_path(playlist))  %></td>
</tr>
