
<h1><%= @playlist.name %></h1>


<ul>

  <% @tracks.each do |track| %>
    <li>
      <%= link_to track.track.name, track_path(track.track.id) %> |
      <%= l(track.added_at) %> |
      <%# p.context_type %>
      <%= track.track.popularity %>  |
      <%= track.track.artists.map(&:name).join(", ") %>|
      <%= track.track.album.name %>  |
      <%# p.album.genres.join(", ") Teuer!!%>
    </li>
  <% end %>
</ul>
