
<h1><%= @playlist.name %></h1>
<h2>St체cke</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">hinzugef체gt</th>
    <th scope="col">Popularit채t</th>
    <th scope="col">K체nstler</th>
    <th scope="col">Albumname</th>
    <%# p.album.genres.join(", ") Teuer!!%>
  </tr>
  </thead>
  <tbody>
  <% @playlist_tracks.each do |playlist_track| %>
    <tr>
      <th scope="row"><%= link_to playlist_track.track.name, track_path(playlist_track.track.id) %> </th>
      <td> <%= l(playlist_track.added_at) %> </td>
      <td><%= playlist_track.track.popularity %></td>
      <td> <%= playlist_track.track.artists.map(&:name).join(", ") %></td>
      <td> <%= playlist_track.track.album.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
