
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Musicnet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to('Zuletzt gespielt', recently_played_index_tracks_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Playlists', playlists_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Tracks', tracks_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Artists', artists_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Bibliotheken', libraries_path, class: "nav-link") %>
        </li>
        <li class="nav-item">
          <%= link_to('Kategorien', categories_path, class: "nav-link") %>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hilfe
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Suche', help_path(page: "suche-syntax"), class: "dropdown-item" %></li>
              <li><%= link_to 'Installation', help_path(page: "installation"), class: "dropdown-item" %></li>
              <li><%= link_to 'Bedienung', help_path(page: "bedienung"), class: "dropdown-item" %></li>
              <li><%= link_to 'Diary', help_path(page: "diary"), class: "dropdown-item" %></li>
            </ul>
          </div>
          <%= link_to('Einstellungen', edit_settings_path, class: "nav-link") %>
          <% if current_user.spotify_avatar_url.present? %>
            <img src="<%= current_user.spotify_avatar_url %>" alt="avatar" style="width:48px;height:48px;">
          <% end %>
          <%= link_to('Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
